.cart {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.cart h2 {
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item button {
  background-color: #555;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}