.order-summary {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
}

.order-summary h3 {
  font-size: 24px;
}

.order-summary button {
  background-color: #2a9d8f;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.order-summary button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}